## Set

In [1]:
vowels = {'a','e','i','o','u','a','u','i','e'}

In [4]:
vowels # 중복 무시, 순서 없음

{'a', 'e', 'i', 'o', 'u'}

In [5]:
{'a','e','i','o','u','a','u','i','e'} == {'a','e','i','o','u'}

True

In [7]:
# empty set 만들 때
a = set()
# a = {} 아님 (dic)

In [8]:
set([2,3,5,4,1,2,3,3,4,5,2,3,2,3,2,4])

{1, 2, 3, 4, 5}

In [13]:
students = set(['inhoe','yesong','jaehyuk','yeha','suun','nayeon'])
for student in students:
    print(student)

# 어떤 순서로 돌 지는 모름

jaehyuk
yeha
suun
yesong
inhoe
nayeon

In [22]:
digits = set([0,1,2,3,4,5])
odds = set([1,3,5,7,9])

In [23]:
print(digits)
digits.add(6)
print(digits)
digits.remove(2)
print(digits)

{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5, 6}
{0, 1, 3, 4, 5, 6}

In [24]:
# 'In' operator -> much much faster than list
S = {'1'}

In [25]:
S

{'1'}

In [28]:
S.add([1,2,3])

TypeError: unhashable type: 'list'

In [30]:
(8)

8

In [32]:
(8,) # tuple이라고 선언하기 위해 하나의 원소의 경우 끝에 , 추가

(8,)

In [33]:
(8,5,3)

(8, 5, 3)

In [34]:
nums = (1,2,3,4)
for num in nums:
    print(num)

1
2
3
4

In [35]:
family = ('dad','mom','me','brother')
family[0] = 'grand father'
# tuple은 수정 불가

TypeError: 'tuple' object does not support item assignment

In [36]:
family = (['dad',60], ['mom',58],['me',27],['brother',24])
print(family)
family[0][1] = 61
print(family)
# tuple 안의 list는 조작 가능

(['dad', 60], ['mom', 58], ['me', 27], ['brother', 24])
(['dad', 61], ['mom', 58], ['me', 27], ['brother', 24])

In [37]:
dict_grades = {}

In [38]:
dict_grades

{}

In [40]:
dict_grades['inhoe'] = 'A'

In [41]:
dict_grades

{'inhoe': 'A'}

In [42]:
dict_grades['yesong'] = 'A+'

In [43]:
dict_grades

{'inhoe': 'A', 'yesong': 'A+'}

In [44]:
for student in dict_grades:
    print(student, 'got grade', dict_grades[student])

inhoe got grade A
yesong got grade A+

In [45]:
dict_grades.get('hyung-sin', 0)

0

In [56]:
grades = {'inhoe':'A', 'yesong':'A+','jaewook':'A','hyung-sin':'C', }
grades_inv = {}

for key in grades.keys() :
    if grades[key] not in grades_inv:
        grades_inv[grades[key]] = set()
    grades_inv[grades[key]].add(key)
    
print(grades_inv)

{'A': {'inhoe', 'jaewook'}, 'A+': {'yesong'}, 'C': {'hyung-sin'}}

In [58]:
grades = {'inhoe':'A', 'yesong':'A+','jaewook':'A','hyung-sin':'C', }
grades_inv = {}

for key in grades.keys() :
    if grades[key] not in grades_inv:
        grades_inv[grades[key]] = []
    grades_inv[grades[key]].append(key)
    
print(grades_inv)

{'A': ['inhoe', 'jaewook'], 'A+': ['yesong'], 'C': ['hyung-sin']}

In [60]:
grades = {'inhoe':'A', 'yesong':'A+','jaewook':'A','hyung-sin':'C', }
grades_inv = {}

for student, grade in grades.items() :
    if grade in grades_inv:
        grades_inv[grade].append(student)
    else:
        grades_inv[grade] = [student]
    
print(grades_inv)

{'A': ['inhoe', 'jaewook'], 'A+': ['yesong'], 'C': ['hyung-sin']}